<!DOCTYPE html>
<html lang="en" ng-app="executor-ui">
<head>
    <meta charset="UTF-8">
    <title>Code Executor</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/bower_components/codemirror/theme/dracula.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/material.min.css">
    <link rel="stylesheet" href="/stylesheets/material-icons.css">
    <link rel="stylesheet" href="/stylesheets/loading.css">
</head>
<body>
<div>
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Docker Code Executor</span>
        </div>
    </header>
    <div class="container">
        <div ng-view></div>
    </div>
    <footer class="mdl-mini-footer">
        <div id="footer-text">
            <p>Powered by Kubernetes</p>
        </div>
    </footer>
</div>
<script src="/bower_components/codemirror/lib/codemirror.js"></script>
<script src="/bower_components/codemirror/mode/clike/clike.js"></script>
<script src="/bower_components/codemirror/mode/python/python.js"></script>
<script src="/bower_components/codemirror/mode/ruby/ruby.js"></script>
<script src="/javascripts/material.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/services/executor-ui.js"></script>
<script src="/javascripts/angular/directives/executor-ui.js"></script>
<script src="/javascripts/angular/controllers/executor-ui.js"></script>
</body>
</html>